streamlit==1.41.1
google-generativeai==0.8.4
langchain==0.3.15
PyPDF2==3.0.1
pypdf==5.2.0
langchain-community==0.3.15
faiss-cpu==1.9.0.post1
langchain_google_genai==2.0.9
speech_recognition==3.14.1
gdown==5.2.0
PyAutoGUI==0.9.54
gTTS==2.5.4
pydub==0.25.1
audio-recorder-streamlit==0.0.10
google-cloud==0.34.0
google-cloud-texttospeech==2.24.0
speech==0.5.2
SpeechRecognition==3.14.1
google-cloud-speech==2.30.0
pyttsx3==2.98
PyAudio==0.2.14
tensorflow==2.18.0
numpy==2.2.2
scikit-learn==1.6.1
mysql==0.0.3
mysql-connector-python==9.2.0
PyMySQL==1.1.1
seaborn==0.13.2
