streamlit==1.41.1
google-generativeai==0.8.4
langchain==0.3.15
langchain-community==0.3.15
langchain_google_genai==2.0.9
gdown==5.2.0
PyAutoGUI==0.9.54
pydub==0.25.1
google-cloud==0.34.0
google-cloud-texttospeech==2.24.0
google-cloud-speech==2.30.0
numpy==2.2.2
pytesseract==0.3.13
wl-clipboard
rich<14
